/* imported fonts from google */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
*/ *,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
#root {
  box-sizing: border-box;
  width: 100%;
}

/* main containers for app */
.dashboard-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
/* * {
  background: whitesmoke;
} */

button {
  background-color: #2e2e2e;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}

button:hover {
  background-color: #464646;
}
.habitCardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  /* grid-template-columns: repeat(4, 1fr); */
}

input {
  width: 30%;
  margin-bottom: 0.8rem;
}
select {
  margin-bottom: 0.8rem;
}

.interviews {
  flex: 3;
  height: 100vh;
  overflow-y: scroll;
  padding-left: 2.5rem;
}

.habitCard {
  background-color: #fff;
  width: 100%;
  padding-left: 3rem;
}

.habitCard:hover {
  background-color: whitesmoke;
}

.habitBox {
  display: flex;
  justify-content: center;
}

.h3 {
  display: flex;
  align-items: center;
  font-size: large;
  justify-content: center;
}

#habbitheader {
  font-size: 50px;
}

header .profile {
  margin-bottom: 1rem;
}
.userprofile {
  flex: 1;
  height: 100vh;
  background-color: #f7f7f7;
  padding: 2rem;
}

.profile {
  padding: 5px;
}

.addBtn {
  background-color: #212121;
  color: white;
  border: none;
  padding: 0.4rem 0.9rem 0.4rem 0.9rem;
}

.nav {
  color: #23282d;
}
.nav:hover {
  color: rgb(189, 189, 189);
}
#username {
  display: flex;
  align-items: center;
  padding: 5px;
}

#poopout {
  text-align: center;
  top: 30%;
  left: 42%;
  zoom: 1.5;
}

#poopout:hover {
  cursor: pointer;
}

.modal {
  z-index: 1;
  width: 150%;
  height: 150%;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal_content {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.close {
  color: Black;
  float: right;
}

.close:hover {
  color: cyan;
  cursor: pointer;
}

#habitcontainer {
  flex: 3;
}
