
/* * {
  background: whitesmoke;
} */
.habitCardsContainer{
  padding: 1rem 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* grid-template-columns: repeat(4, 1fr); */
  
}
.habitCard{
  padding: 1rem 3rem;
  border: 1px solid orange;
  background-color: whitesmoke;
  width: 150px;
  height: 200px;

}

#habbitheader{
font-size: 50px;
}

.userprofile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid pink
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: 2px solid black;
}

/* .profile { */
  /* display: grid;  */
  /* align-items: center; */
  /* grid-template-columns: .5fr 1fr 1fr .5fr; 
  grid-gap: 5px;
  /* grid-template-rows: 1fr;  */
  /* border: 2px solid green 
} */

#username{
display: flex;
align-items: center;
border: 2px solid black 
}

/* #username {
  grid-column: 1 / 2;
  grid-row: 1;
  font-size: 2em;
} */

#pikachu {
  height: 10em;
  width: 10em;
  border-radius: 25px;
}

/* #pikachu {
  align-items: center;
  grid-column: col / span 1;
  grid-row: row 1;
  height: 10em;
  width: 10em;

} */

#time {
  font-size: 19px;
  grid-column: 3;
}

/* #time {
    grid-column: col 1 / span 1;
    grid-row: column;
}
 */

#poopout {
  text-align: center;
  top: 30%;
  left: 42%;
  zoom: 1.5;
}

#poopout:hover {
  cursor: pointer;
}

.modal {
  z-index: 1;
  width: 150%;
  height: 150%;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal_content {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.close {
  color: Black;
  float: right;
}

.close:hover {
  color: cyan;
  cursor: pointer;
}


#habitcontainer {
  border: 2px solid darkblue;
  background-color: lightblue;
  width: 75%;
}

#quotefoot {
  border: 2px solid red;
}

